{% extends "movies/base1.html" %}

{% block title %}about us{% endblock %}

{% block body %}

<div class="container-fluid full">
    <div class="row pb-2">
        <div class="col text-center">
            <h1 class="display-4 text-uppercase text-dark mb-0">
                <strong>about us</strong>
            </h1>
            <div class="title-underline bg-primary"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="bg-white col-lg-10 mx-auto col-md-10 py-5">
          <p>We are a sole proprietor specialized in software, hardware, cyber services and movies.</p>
          <p>We are focused at solving customer problems by applying the required solution, in terms of good and services, in order to create a problem free society.</p>
          <p>Our aim is to beat the local market through provision of world class services. This is our bid to improve your customer satisfaction.</p>

          <p>We started in the year 2021, as a joint business offering cyber services only. We had limited resources and no free space to increase our span of services. This paused as a challenge for a long period of time.</p>
          <p>We however improved over time, increased equipments to cover a wider span of services and goods and we increased personnel so as our customers may receive efficient services. We also went ahead to train our personnel to increase quality and range.</p>

          <p>We are making it our commitment to continue to improve our services, quality of services and span over more services and goods so that you may also feel at home with us. We are also committing to our "as cheap as possible" policy so that our customers may not be charged unless its necessary.</p>
       </div>
    </div>
</div>

{% endblock %}