{% extends "movies/base1.html" %}

{% block body %}

<style>
    .center{
        align-items: center;

    }
</style>

<div class="container bg-dark full">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mx-auto align items-center justify-content-center">
            <a href="/movies/epic/" class="btn btn-outline-danger w-50 text-uppercase text-center my-1">epic</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/comedy/" class="btn btn-outline-danger w-50 text-uppercase my-1">comedy</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/drama/" class="btn btn-outline-danger w-50 text-uppercase my-1">drama</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/thriller/" class="btn btn-outline-danger w-50 text-uppercase my-1">thriller</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/horror/" class="btn btn-outline-danger w-50 text-uppercase my-1">horror</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/investigative/" class="btn btn-outline-danger w-50 text-uppercase my-1">investigative</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/animation/" class="btn btn-outline-danger w-50 text-uppercase my-1">animation</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/war/" class="btn btn-outline-danger w-50 text-uppercase my-1">war</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/documentary/" class="btn btn-outline-danger w-50 text-uppercase my-1">epic</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/fantasy/" class="btn btn-outline-danger w-50 text-uppercase my-1">fantasy</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/fiction/" class="btn btn-outline-danger w-50 text-uppercase my-1">fiction</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/sci-fi/" class="btn btn-outline-danger w-50 text-uppercase my-1">sci-fi</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/mystery/" class="btn btn-outline-danger w-50 text-uppercase my-1">mystery</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/adventure/" class="btn btn-outline-danger w-50 text-uppercase my-1">adventure</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/action/" class="btn btn-outline-danger w-50 text-uppercase my-1">action</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/action/" class="btn btn-outline-danger w-50 text-uppercase my-1">epic</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/sitcom/" class="btn btn-outline-danger w-50 text-uppercase my-1">sitcom</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/historical_film/" class="btn btn-outline-danger w-50 text-uppercase my-1">historical film</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/christian/" class="btn btn-outline-danger w-50 text-uppercase my-1">christian</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/musical/" class="btn btn-outline-danger w-50 text-uppercase my-1">musical</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/romance/" class="btn btn-outline-danger w-50 text-uppercase my-1">romance</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/crime/" class="btn btn-outline-danger w-50 text-uppercase my-1">crime</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/western/" class="btn btn-outline-danger w-50 text-uppercase my-1">western</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/sitcom/" class="btn btn-outline-danger w-50 text-uppercase my-1">sitcom</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/documentary/" class="btn btn-outline-danger w-50 text-uppercase my-1">documentary</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/sports/" class="btn btn-outline-danger w-50 text-uppercase my-1">sports</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/disaster/" class="btn btn-outline-danger w-50 text-uppercase my-1">disaster</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/investigative/" class="btn btn-outline-danger w-50 text-uppercase my-1">investigative</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/movies/biographical/" class="btn btn-outline-danger w-50 text-uppercase my-1">biographical</a>
        </div>
    </div>
</div>

{% endblock %}