{% extends "movies/base1.html" %}

{% block body %}

<div class="container-fluid full">
    <div class="row pb-2">
        <div class="col text-center">
            <h1 class="display-4 text-uppercase text-dark mb-0">
                <strong>Frequently Asked Questions</strong>
            </h1>
            <div class="title-underline bg-primary"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="bg-white col-lg-10 mx-auto col-md-10 py-5">
            <p>This page contains a list of frequently asked questions and their answers. Feel free to scroll about to learn something new or get answer(s) to your question(s).</p>
        </div>
    </div>
</div>

{% endblock %}