{% extends "movies/base1.html" %}

{% block body %}

<style>
    *{
       margin: 0;
       padding: 0;
    }
    body{
        background-image: url("https://res.cloudinary.com/swiff-tech/image/upload/v1655633696/cloud_wghovr.jpg");
        background-position: center;
        background-size: cover;
        font-family: sans-serif;
        margin-top: 0;
        min-height: 100vh !important;
    }
    .main{
        background-color: rgb(0, 0, 0, 0.5);
        width: 350px;
        margin: auto;

    }
    form {
        padding: 10px;
    }
    .email{
        position: relative;
        left:10px;
        top: 0;
        line-height: 40px;
        width: 90%;
        border-radius: 6px;
        padding: 0 18px;
        font-size: 16px;
        color: #555;
    }
    .password-1{
        position: relative;
        left:10px;
        top: 0;
        line-height: 40px;
        width: 90%;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        color: #555;
    }
    .password-2{
        position: relative;
        left: 10px;
        top: 10px;
        width: 90%;
        line-height:40px;
        border-radius: 6px;
        padding: 0 26px;
        font-size: 16px;
    }
    .regform{
        width: 470px;
        background-color: rgb(0, 0, 0, 6);
        margin: auto;
        color: #FFFFFF;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
    }
    .main{
        background-color: rgb(0, 0, 0, 0.5);
        width: 470px;
        margin: auto;

    }
    #submit{
        background-color: #3BAF9F;
        display: block;
        margin: 20px 0px 0px 10px;
        text-align: center;
        border-radius: 12px;
        border: 2px solid #366473;
        padding: 10px 60px;
        outline: none;
        color: white;
        cursor: pointer;
        transition: 0.25px;
    }
    #submit:hover{
        background-color: #5390F5;
    }
    .name{
        margin-left: 25px;
        margin-top: 30px;
        width: 125px;
        color: white;
        font-size: 18px;
        font-weight: 700;
    }
</style>

<script>
    $("input").attr("maxlength", 4)
</script>

<div class="container full">
    <div class="row p-4">
        <div class="regform"><h1>Change Password</h1></div>
        <div class="main">
            {% if messages %}
            {% for message in messages %}
            <div class="text-center text-danger">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            <form action="" method="post" class="pb-5">
                {% csrf_token %}
                <input type="email" class="email" name="email" placeholder="Your email">

                <input type="password" class="password-1" name="password1" placeholder="Change Password">

                <input type="password" class="password-2" name="password2" placeholder="Confirm Password">

                <input type="submit" id="submit" placeholder="Login" value="Login">

            </form>
        </div>
    </div>
</div>


{% endblock %}
