{% extends 'movies/base1.html' %}

{% block body %}

<div class="container-fluid full">
    <div class="row pb-2">
        <div class="col text-center">
            <h1 class="display-4 text-uppercase text-dark mb-0">
                <strong>our privacy policy</strong>
            </h1>
            <div class="title-underline bg-primary"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="bg-white col-lg-10 mx-auto col-md-10 py-5">
            <p>
                This website is a operated by swifftech and its registered address is <a href="https://swifftech.com/">https://swifftech.com/</a>. We
                are committed to protecting and preserving the privacy of our visitors when visiting our site or communicating
                electronically with us.

                This policy sets out how we process any personal data we collect from you or that you provide to us through our website.
                We confirm that we will keep your information secure and that we will comply fully with all applicable Data Protection
                legislation and regulations. Please read the following carefully to understand what happens to personal data that you
                choose to provide to us, or that we collect from you when you visit this site. By visiting <a href="https://swifftech.com/">https://swifftech.com/</a>
                (our website), signing up and loging in, you are accepting and consenting to the practices described in this policy.
            </p>
            <p>
                First and foremost, please note we are only acquiring your first name, last name, username (which should be any alias you like to use), phone number, email and password.
                This information is kept in our database and we use it to manage your account. You would need to retain your username and password since you will use them for sign in.
                We capture your email and phone number for mass communication and account reset links, which helps you to access your account incase you lose your login info.
                As for first and last name, it is a formality and a requirement for us. Please note that we check for any input from you before we grant any access to the database, e.g.,
                too short or too long names are rejected during sign up.
            </p>
            <p>
                Other than this, we keep track of your activities in this website and monitor clicks and hovers so as to make better predictions for you in future.
                We also record your searches so as to provide personal experience to everyone of our users
            </p>
            <p>
                Incase you feel like any of the above is infringing on your rights or violating your privacy, please don't sign up with us. Rember even without signing, you can still search and
                request for movies and other services.
            </p>
            <p>
                With regards to online payment (using your web coins), please note that we record every transaction made, so if you feel like we have unlawfully charged you,
                you can file a complain and follow up will be made. Please note that you have no other way of increasing your coins except through deposit (both cash and mpesa accepted, and if the latter
                is used, transaction code will be required) and converting your points to cash. As of now, 100 points are worth 10 shillings. You are encouraged to use mpesa when depositing for evidence.
                Please note that once you make a deposit, we can not refund your money. You will use it to either make a subscription or just buying movies.
            </p>
        </div>
        <div class="col-lg-1 col-md-1 py-5"></div>
    </div>
</div>
{% endblock %}