{% extends 'movies/base1.html' %}

{% block body %}

<div class="container bg-white pb-5">
    <div class="row pt-4 display-5">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <ul>
                <h1>Main services</h1>
                <li>Movies</li>
                <li>Cyber</li>
                <li>Software</li>
                <li>Hardware</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <ul>
                <h1>Accessories</h1>
                <li>Flash disks</li>
                <li>Memory cards</li>
                <li>USB cables</li>
                <li>Hard disks</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 pb-5">
            <ul>
                <h1>Field services</h1>
                <li>Photo printing</li>
                <li>Passport</li>
                <li>Hike photo shoots</li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}